site_et_services_web/actu_polytech/wsdl/my_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="None" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="user_service" targetNamespace="None">
	
    
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
	

    
	<wsdl:types>
		
       
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="None" elementFormDefault="qualified">
			
       
			<xsd:element name="list_users">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="token" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="list_usersResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="users" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="add_user">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="username" type="xsd:string"/>
						<xsd:element name="password" type="xsd:string"/>
						<xsd:element name="first_name" type="xsd:string"/>
						<xsd:element name="last_name" type="xsd:string"/>
						<xsd:element name="email" type="xsd:string"/>
						<xsd:element name="token" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="add_userResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="result" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="delete_user">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="username" type="xsd:string"/>
						<xsd:element name="token" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="delete_userResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="result" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="update_user">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="username" type="xsd:string"/>
						<xsd:element name="new_password" type="xsd:string"/>
						<xsd:element name="first_name" type="xsd:string"/>
						<xsd:element name="last_name" type="xsd:string"/>
						<xsd:element name="email" type="xsd:string"/>
						<xsd:element name="token" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="update_userResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="result" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="authenticate_user">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="username" type="xsd:string"/>
						<xsd:element name="password" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="authenticate_userResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="result" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		
    
	</wsdl:types>
	


	<wsdl:message name="list_usersInput">
		<wsdl:part name="parameters" element="tns:list_users"/>
	</wsdl:message>
	<wsdl:message name="list_usersOutput">
		<wsdl:part name="parameters" element="tns:list_usersResponse"/>
	</wsdl:message>
	<wsdl:message name="add_userInput">
		<wsdl:part name="parameters" element="tns:add_user"/>
	</wsdl:message>
	<wsdl:message name="add_userOutput">
		<wsdl:part name="parameters" element="tns:add_userResponse"/>
	</wsdl:message>
	<wsdl:message name="delete_userInput">
		<wsdl:part name="parameters" element="tns:delete_user"/>
	</wsdl:message>
	<wsdl:message name="delete_userOutput">
		<wsdl:part name="parameters" element="tns:delete_userResponse"/>
	</wsdl:message>
	<wsdl:message name="update_userInput">
		<wsdl:part name="parameters" element="tns:update_user"/>
	</wsdl:message>
	<wsdl:message name="update_userOutput">
		<wsdl:part name="parameters" element="tns:update_userResponse"/>
	</wsdl:message>
	<wsdl:message name="authenticate_userInput">
		<wsdl:part name="parameters" element="tns:authenticate_user"/>
	</wsdl:message>
	<wsdl:message name="authenticate_userOutput">
		<wsdl:part name="parameters" element="tns:authenticate_userResponse"/>
	</wsdl:message>
	<wsdl:portType name="user_servicePortType">
		<wsdl:operation name="list_users">
			<wsdl:input message="tns:list_usersInput"/>
			<wsdl:output message="tns:list_usersOutput"/>
		</wsdl:operation>
		<wsdl:operation name="add_user">
			<wsdl:input message="tns:add_userInput"/>
			<wsdl:output message="tns:add_userOutput"/>
		</wsdl:operation>
		<wsdl:operation name="delete_user">
			<wsdl:input message="tns:delete_userInput"/>
			<wsdl:output message="tns:delete_userOutput"/>
		</wsdl:operation>
		<wsdl:operation name="update_user">
			<wsdl:input message="tns:update_userInput"/>
			<wsdl:output message="tns:update_userOutput"/>
		</wsdl:operation>
		<wsdl:operation name="authenticate_user">
			<wsdl:input message="tns:authenticate_userInput"/>
			<wsdl:output message="tns:authenticate_userOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="user_serviceBinding" type="tns:user_servicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="list_users">
			<soap:operation soapAction="list_users" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="add_user">
			<soap:operation soapAction="add_user" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete_user">
			<soap:operation soapAction="delete_user" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="update_user">
			<soap:operation soapAction="update_user" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="authenticate_user">
			<soap:operation soapAction="authenticate_user" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="user_serviceService">
		<wsdl:documentation></wsdl:documentation>
		<wsdl:port name="user_service" binding="tns:user_serviceBinding">
			<soap:address location=""/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
